<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mon application ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Search.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <ul class="nav navbar-nav text-center">
            <li><a href="/Home/Index">Top 10 Artistes</a></li>
        </ul>
    </div>

    <div class="container body-content">
        <div class="container">


            <div class="row text-center" style="padding-top:20px;">

                @using (Html.BeginForm("SearchResult", "Home", FormMethod.Post))
                {
                    <div class="form-group">
                        <input id="ArtistName" list="ListArtist" name="ArtistName" type="text" placeholder="Rechercher un artiste" />
                        <datalist id="ListArtist"></datalist>
                    </div>
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        Lancer la recherche
                    </button>
                }

            </div>
        </div>
        <hr />
        @RenderBody()

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Spotify Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript">

    $(document).ready(function ()
    {
        $("#ArtistName").on('input', function ()
        {
            Ajax_Request($(this).val());
        });
    });

    function Ajax_Request(researchWord)
    {
        var urlSpotify = 'https://api.spotify.com/v1/search?type=artist&q=' + researchWord;

        try {
            $.ajax({
                url: urlSpotify,
                type: "GET",
                dataType: 'JSON',
                headers: { 'Authorization': 'Bearer ' + '@ViewBag.Access_token' },
            }).then(function (response)
            {
                $('#ListArtist').empty();
                var length = response.artists.items.length;
                for (var i = 0; i < length; i++) {
                    $('#ListArtist').append("<option value='" + response.artists.items[i].name + "'>");
                }
            });
        }
        catch (ex) {
            alert("catch");
        }
    }
    </script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
